#table_fu{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}
#table_fu *{
    margin: 0; 
    padding: 0;
}
#table_fu div#table_title{
    font-size: 24px;
    font-weight: bold;
    font-family: Palatino Linotype,Book Antiqua,serif;
}
#table_fu div{
    margin-bottom: 14px;
}
#table_fu #controls{
    overflow:auto;
    clear: both;
    margin-bottom: 0px;
    display: block;
}
#table_fu div#pager{
    float:right;
    width: 15%;
}
#table_fu div#pager div.pagedisplay{
  display: inlines;
}
#table_fu div#filter{
    float:left;
    width:30%;
}
#table_fu #data{
    border: 1px solid #ababab;
    border-collapse: collapse;
    margin-bottom:14px;
    width: 100%;
}
#table_fu td, #table_fu th{
    padding: 7px;
    border-bottom: 1px solid #ababab;
    text-align: center;
}
#table_fu th{
    cursor: pointer;
    vertical-align: bottom;
}
#table_fu td.sorted{
    background-color: #edf4ff;
}
#table_fu td .bar{
    width: 100%;
    height: 100%;
    text-align:left;
    background-color: #99CA3C;
    color:#444;
    float:left;
    padding:0.5em;
    margin-top: 0.7em;
    font-weight:bold;
}
#table_fu th.headerSortDown{
    background: #ccc url(/media/img/th_arrow_asc.gif) no-repeat 100% 75%;
}
#table_fu th.headerSortUp{
    background: #ccc url(/media/img/th_arrow_desc.gif) no-repeat 100% 75%;
}
