body {font-size:14px;}
.rss {position: absolute; right:0; top:45%;}
#table_list h2 {margin:0; padding-top:15px; padding-bottom:1px; font-size:18px;}
#table_list .byline {font-size:12px;}
#table_list .pubdate {font-size:12px;}
#table_list .description {margin-top:1px; margin-bottom:15px;}
#table_list tbody tr:nth-child(even) td, tbody tr.even td {background-color:white;}
#table_fu {width: 950px; font-size: 14px; line-height: 20px; color: #333;}
#table_fu div#description p {margin-left:2px; margin-bottom: 10px; text-align: left; line-height: 140%;}
#table_fu div{margin-bottom: 14px;}
#table_fu div#similar h5 { text-transform:uppercase; font-size:13px; font-weight:normal; margin:0;}
#table_fu div#similar {float:right; width:280px; border:1px solid #ddd; padding:10px; margin: 0 0 10px 20px;}
#table_fu div#similar ul {margin-top:5px; margin-left:0; padding-left:3px; list-style-type:none;}
#table_fu div#similar a {text-decoration:none;}
#table_fu div#sources, div#credits, div#tags {margin-bottom:5px}
#table_fu div#byline {text-align:right; margin-bottom:5px;}
#table_fu div#ribbon {clear: both; display: block; overflow:visible;}
#table_fu div#controls{width:50%; position:relative;}
#table_fu div#pager{position:absolute; right:0; top: 0; margin-bottom:2px;}
#table_fu div#pager img {display:inline; vertical-align:text-bottom;}
#table_fu div#pager div.pagedisplay{display: inline;}
#table_fu div#pager .pagesize{margin-left:10px;}
#table_fu div#filter {position:absolute;left:0;top: 0; margin-bottom:2px;}
#table_fu div#filter {font-size:14px;}
#table_fu #download {font-size:12px; margin-top:7px; margin-bottom:0px; display: inline; float: right;}
#table_fu #data{border-collapse: collapse; margin-bottom:14px; width: 100%; font-family: Arial, sans serif;}
#table_fu #data tbody tr:nth-child(even) td, tbody tr.even td {background-color:white;}
#table_fu td, #table_fu th{padding: 7px; border-bottom: 1px dotted black; text-align: center;}
#table_fu th{cursor: pointer; vertical-align: bottom; color: black; font-weight: bold; font-size: 13px !important; text-transform: none; letter-spacing: 0.5px; padding: 4px 14px 4px 7px; border-top: 1px solid black; border-bottom: 1px solid black; background: white url(/media/img/both.png) no-repeat 99% 50%;}
#table_fu th.sorted, td.sorted {background-color: #e5ecf9 !important;}
#table_fu th.headerSortDown{background: #e5ecf9 url(/media/img/up.png) no-repeat 99% 50%;}
#table_fu th.headerSortUp{background: #e5ecf9 url(/media/img/down.png) no-repeat 99% 50%;}
