Jinja2==2.5.5
PyYAML==3.10
Pygments==1.4
South==0.7.5
Sphinx==1.0.7
argparse
coverage==3.7.1
django-bakery==0.3.0
docutils==0.7
flake8==2.1.0
mccabe==0.2.1
pep8==1.5.1
pyflakes==0.8.1
python-coveralls==2.4.2
requests==2.2.1
sh==1.09
six==1.5.2
