body {font-size:14px;}
.serif {font-family:Georgia, serif;}
.sans {font-family:Arial, sans-serif;}
.rss {position: absolute; right:0; top:45%;}
h1.index {font-size:28px;}
#header {margin:15px 0 0 0;}
#header div#share {float:right; position:relative;}
#header div#share ul {margin-top:25px}
#header div#share li {height: 22px; float: left; list-style: none; margin-right:2px;}
h4#kicker {letter-spacing: 0.03em; font-size:12px; text-transform:uppercase; color:black; display:block; margin:0 0 5px 0;}
h1#title {margin:0 0 5px 0; font-size:28px;}
#table_fu {width: 950px; font-size: 14px; line-height: 20px; color: #333;}
#table_fu div#description p {margin-left:2px; margin: 10px 0; text-align: left; line-height: 140%;}
#table_fu div{}
#table_fu div#similar h5 { text-transform:uppercase; font-size:13px; font-weight:normal; margin:0;}
#table_fu div#similar {float:right; width:280px; border:1px solid #ddd; padding:10px; margin: 0 0 10px 20px;}
#table_fu div#similar ul {margin-top:5px; margin-left:0; padding-left:3px; list-style-type:none;}
#table_fu div#similar a {text-decoration:none;}
#table_fu div#sources, div#credits, div#tags {margin-bottom:5px}
#table_fu div#byline {text-align:right; margin-bottom:5px;}
#table_fu div#legend {float:left; margin-bottom:10px; margin-top:-5px;}
#table_fu div#ribbon {clear: both; display: block; overflow:visible;}
#table_fu div#controls {width:50%; position:relative; height:32px;}
#table_fu div#pager {position:absolute; right:0; top: 0; margin-bottom:2px;}
#table_fu div#pager img {display:inline; vertical-align:text-bottom;}
#table_fu div#pager div.pagedisplay{display: inline;}
#table_fu div#pager .pagesize{margin-left:10px;}
#table_fu div#filter {position:absolute;left:0;top: -2px;}
#table_fu div#filter {font-size:14px;}
#table_fu div#filter input {width:175px;}
#table_fu #download {font-size:12px; margin-top:7px; margin-bottom:0px; display: inline; float: right;}
#table_fu  #pubdate { color:#930000; font-style:italic; font-size:11px; margin-bottom:0px; display:inline;}
#table_fu #data{border-collapse: collapse; margin:0 0 14px 0; width: 100%; font-family: Arial, sans serif;}
#table_fu #data tbody tr:nth-child(even) td, tbody tr.even td {background-color:white;}
#table_fu td, #table_fu th{padding: 7px; border-bottom: 1px dotted black; text-align: center;}
#table_fu th{cursor: pointer; vertical-align: bottom; color: black; font-weight: bold; font-size: 13px !important; text-transform: none; letter-spacing: 0.5px; padding: 4px 14px 4px 7px; background: white url(/static/img/both.png) no-repeat 99% 50%;}
#table_fu thead tr {border-top: 1px solid black;border-bottom: 1px solid black;}
#table_fu th.sorted, td.sorted {background-color: #e5ecf9 !important;}
#table_fu th.headerSortDown{background: #e5ecf9 url(/static/img/up.png) no-repeat 99% 50%;}
#table_fu th.headerSortUp{background: #e5ecf9 url(/static/img/down.png) no-repeat 99% 50%;}
#table_fu img.bubble {margin: auto;}
#table_fu img.vote {margin:auto;}
/* Bullet graphs */
#table_fu div.bullet-graph-wrap { position: relative; width: 100%; height: 21px; top: 0; left: 0; margin: 0; padding: 0; }
#table_fu div.bullet-graph-box1 { position: absolute; height: 20px; width: 30%; left: 0; background-color: #eeeeee; z-index: 1; font-size: 0; }
#table_fu div.bullet-graph-box2 { position: absolute; height: 20px; width: 30%; left: 30%; background-color: #dddddd; z-index: 1; font-size: 0; border:1px solid #CCC; }
#table_fu div.bullet-graph-box3 { position: absolute; height: 20px; width: 30%; left: 60%; background-color: #bbbbbb; z-index: 1; font-size: 0; }
#table_fu div.bullet-graph-box4 { position: absolute; height: 20px; width: 10%; left: 90%; background-color: #bbbbbb; z-index: 1; font-size: 0; }
#table_fu div.bullet-graph-target { position: absolute; height: 21px; width: 2px; left: 32px; top: 0; background-color: #cc0000; z-index: 7; font-size: 0; }
#table_fu div.bullet-graph-actual { position: absolute; height: 8px; left: 0px; top: 7px; background-color: #000000; font-size: 0; z-index: 5; font-size: 0; }
