{% extends "base.html" %}

{% block title %}{{ object.title }} - {{ block.super }}{% endblock %}

{% if object.description %}
    {% block description %}{{ object.description|striptags|safe }}{% endblock %}
{% endif %}

{% if object.tag_list %}
    {% block keywords %}{{ object.get_keywords_list }}, {{ block.super }}{% endblock %}
{% endif %}

{% block extra-js %}
    <script src='{{ MEDIA_URL }}js/jquery.tablesorter.js' type='text/javascript'></script>
    <script src='{{ MEDIA_URL }}js/jquery.tablesorter.pager.js' type='text/javascript'></script>
    <script src='{{ MEDIA_URL }}js/jquery.tablesorter.multipagefilter.js' type='text/javascript'></script>
    <script src='{{ MEDIA_URL }}js/application.js' type='text/javascript'></script>
{% endblock %}

{% block headline %}<h1>{{ object.title|safe }}</h1>{% endblock %}

{% block content %}
    <div id="table_fu">
        {% if not object.rendered_html or force %}
            {{ object.get_rendered_html|safe }}
        {% else %}
            {{ object.rendered_html|safe }}
        {% endif %}
    </div>
{% endblock %}




