{# This template is written in Django 0.96 rules #}
{# It's necessary because we need to run it as an auth-protected cron #}
{# Sadly, those guys aren't able to run a more up-to-date Django #}

{% autoescape off %}
    <script type='text/javascript'>
      {% if table %}
        var sortPlease = true;
        var sortOrder = {{ table.sorted_by }};
        var perPage = {{ table.per_page }};
      {% else %}
        var sortPlease = false;
      {% endif %}
    </script>
    
    <div class="clear"></div>
    
    {% if object.similar_tables %}
        <div id="similar">{% include "similar_tables.html" %}</div>
    {% endif %}
    
    {% if object.description %}
        <div id="description" {% if object.similar_tables %}style="width:660px;"{% endif %}>{{ object.description }}</div>
    {% endif %}
    
    {% if object.byline %}
        <div id="byline" {% if object.similar_tables %}style="width:660px;"{% endif %}>&mdash; {{ object.byline }} ({{ object.publication_date|date:"N j, Y" }})</div>
    {% endif %}
    
    <div class="clear pad5vert"></div>
    
    <div id="ribbon">
    
        <div id="download" {% if not object.show_download_links %}style="visibility:hidden;"{% endif %}>
            Download:
            <a href="{{ object.get_csv_url }}">CSV</a> |
            <a href="{{ object.get_xls_url }}">XLS</a> |
            <a target="_blank" href="{{ object.get_json_url }}">JSON</a>
        </div>
        
        <div id="controls">
            <div id="filter">Search: <input type="text"></div>
            <div id="pager" class="pager">
              <form>
                <img src="/media/img/first.png" class="first">
                <img src="/media/img/prev.png" class="prev">
                <span class="pagedisplay"/>1/{{ table.total_pages }}</span>
                <img src="/media/img/next.png" class="next">
                <img src="/media/img/last.png" class="last">
                <select class="pagesize">
                    {% for page_size in table.page_size_list %}
                    <option {% if forloop.first %}selected="selected"{% endif %} value="{{ page_size }}">{{ page_size }}</option>
                    {% endfor %}
                </select> per page
              </form>
            </div>
        </div>
    
    </div>
    <div class="clear"></div>
    <table id="data" class="tabular">
        <thead>
            <tr>
            {% for header in table.headers %}
              <th style="{{ header.style }}">{{ header }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in table.rows %}
          <tr>
            {% for column in row.data %}
                <td style="{{ column.style }}">{{ column }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
    <tfoot></tfoot>
    </table>
    {% if object.footer %}<div id="footer">{{ object.footer }}</div>{% endif %}
    {% if object.tags %}<div id="tags">Tags: {{ object.get_html_tag_list }}</div>{% endif %}
    {% if object.sources %}<div id="sources">Sources: {{ object.sources }}</div>{% endif %}
    {% if object.credits %}<div id="credits">Credits: {{ object.credits }}</div>{% endif %}
{% endautoescape %}
