{% extends "base.html" %}
{% load toolbox_tags %}

{% block title %}All spreadsheets - {{ block.super }}{% endblock %}

{% block headline %}<h1 class="index">All spreadsheets</h1>{% endblock %}

{% block content %}
    <table cellspacing="0">
        <thead>
            <tr>
                <th>Table</th>
                <th>Publication date</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
            <tr>
                <td >
                    <a href="{{ obj.get_absolute_url }}">{{ obj|safe }}</a>
                </td>
                <td>
                    {{ obj.publication_date|date:"N j, Y" }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="clear pad10vert"></div>
{% endblock %}


